<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <button (click)="toggleApp1()">Toggle admin component in app1 from CoreApp</button>
  <button (click)="toggleApp2()">Toggle admin component in app2 from CoreApp</button>
<h1>Outlets below:</h1>

  <a [routerLink]="['/app1']" >App1</a>
  <a [routerLink]="['/app2']" >App2</a>
  <a [routerLink]="['/somecoreroute']" >Some Core App Route</a>

<router-outlet></router-outlet>
